# This is a basic workflow to help you get started with Actions

name: Auto_Health_Status_Reprot Action

# Controls when the action will run. 
on:
  push:
    branches:
      - main
  schedule:
    - cron: '55 6 * * *' # 时间设置用的是UTC时间，需要北京时间往前推8个小时

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirement.txt

      - name: Run report script
        run: echo Hello, world!