name: Auto_Health_Status_Reprot Action

on:
  push:
    branches:
      - main
      - auto_report
  schedule:
    - cron: '20 9 * * *'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run report script
        env:
          DAKA_UID: ${{ secrets.DAKA_UID }}
          DAKA_PWD: ${{ secrets.DAKA_PWD }}
          SENDER_EMAIL: ${{ secrets.SENDER_EMAIL }}
          SENDER_PWD: ${{ secrets.SENDER_PWD }}
          RECEIVER_EMAIL: ${{ secrets.RECEIVER_EMAIL }}
        run: |
          python main.py "$DAKA_UID" "$DAKA_PWD" "$SENDER_EMAIL" "$SENDER_PWD" "$RECEIVER_EMAIL"
          echo "success!"
